$highlight: #00ff00;
$lowlight: #009900;
$highshade: #333333;
$lowshade: #111111;
$aside: #aaaaaa;

/** Layout **/
* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 25px;
}

body {
    background-color: black;
    width: 100%;
}

#container {
    margin: auto;
    max-width: 50em;
}

#header nav {
    margin-top: 1em;
}

#content {
    margin: 2em 0;
}

/** Navigation **/
#site-title {
    border-bottom: 0.5em solid $highshade;
    height: 0.75em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

@media only screen and (min-width: 30em) {
    #site-title {
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 40em) {
    #site-title {
        font-size: 2em;
    }
}

@media only screen and (min-width: 50em) {
    #site-title {
        font-size: 2.5em;
    }
}

@media only screen and (min-width: 60em) {
    #site-title {
        font-size: 3em;
    }
}

@media only screen and (min-width: 70em) {
    #site-title {
        font-size: 3.5em;
    }
}

#site-title a {
    color: white;
}

#site-title a:hover {
    color: $lowlight;
}

.nav li {
    display: inline;
    list-style: none;
}

.nav a {
    background-color: $lowshade;
    display: inline-block;
    margin-top: 0.5em;
    padding: 1em;
}

.nav a:hover {
    background-color: $lowlight;
    color: white;
}

/** Text **/
body {
    color: white;
    font-family: monospace;
}

#content {
    line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6, p {
    line-height: 1.5em;
    margin-top: 1rem;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.2em;
}

blockquote {
    border-width: 0 0 0 0.5em;
    border-color: $highshade;
    border-style: solid;
    padding: 0 3em 0 3em;
    position: relative;
}

blockquote::before, blockquote::after {
    font-size: 3em;
    color: $highshade;
    line-height: 1em;
    position: absolute;
}

blockquote::before {
    content: "“";
    left: 0;
    top: 0;
}

blockquote::after {
    content: "”";
    right: 0;
    bottom: 0;
}

/** Links **/
a {
    color: $highlight;
    text-decoration: none;
}

a:hover {
    color: $lowlight;
}

/** Lists **/
ul {
    list-style-type: square;
}

/** Content **/
aside.meta {
    color: $aside;
}

/** Code **/
code {
    background-color: #272822;
    color: #f8f8f2;
}

.lntable .lntd:first-child .chroma {
  background-color: $lowshade;
}
